.m-width{
    width: 26.7%;
    border-radius: 10%;
    border-color: grey !important;
    border-style: solid !important;
    color: grey !important;
    
}

.hp-border{
    border-bottom:2px solid grey;
}
.hp{
    padding-left: 10px !important;
    border-style: none;
    padding-right: 5%;
    background-color: white;
}
.hp-active{
    background-color: #7f7 !important;
    border-style: none !important;
    color: white;
}
