.matchstat-home {
    float: left;
    padding-left: 5%;
}
.matchstat-away {
    float: right;
    padding-right: 5%;
}
.matchstat-pad{
    padding-left: 25%;
    padding-right: 25%;
}






@media (max-width: 700px){
    .matchstat-pad{
        padding-left: 0%;
        padding-right: 0%;
    }
}